[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/lsils/mockturtle.git
[submodule "lib/replxx"]
	path = lib/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "lib/cli11"]
	path = lib/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
